<div class="container-fluid m-0 p-0 ">

    <div class="row p-0 m-0">
        <div class="col-12 position-relative" style="height: 316px;">

            <img src="assets/contactPage/bannerContact.png" alt="bannerContact"
                class="w-100 h-100 position-absolute top-0 start-0" 
                style="object-fit: cover; z-index: 1;">
            
           <div class="d-flex flex-column position-relative 
           align-items-center justify-content-center "
                style="z-index: 2; height: 100%;">
                <img src="assets/favicon.png" alt="">
                <h1 class="text-center">Contato</h1>
                <p class="text-center"><b>Inicio</b> > Contato</p>
           </div>
        </div>
    </div>

    <div class="row w-100 p-0 m-0 my-5">
        <div class="col-12 d-flex flex-column text-center justify-content-center p-5">
            <h2 class="fw-bold ">Entre em contato conosco</h2>
            <p class="text-break" style="color: var(--gray-text-color);">Para obter mais informações sobre nossos produtos e serviços. 
                Sinta-se à vontade para nos enviar um e-mail.<br> Nossa equipe está sempre disponível para ajudá-lo. 
                Não hesite!</p>
        </div>
        <div class="row w-100 p-0 m-0">
            <div class="row w-100 d-lg-none">
                <div class="">
                    <h3 class="ps-4 fw-bold display-6 mb-5">Informções de contato</h3>
                </div>
             </div>
            <div class="col-6 col-lg-4 d-flex flex-column justify-content-center align-content-center mx-auto mx-lg-0 ps-lg-5 mb-5 mb-lg-0">
                <div class="d-flex">
                    <fa-icon [icon]="faMapLocation" class="icon-Size"></fa-icon>
                    <div class="d-flex flex-column justify-content-center ms-2">
                        <h3 class="fw-bold">Endereço</h3>
                        <p class="">236 5th SE Avenue, New York NY10000,<br> United States</p>
                    </div>
                        
                </div>
                <div class="d-flex">
                    <fa-icon [icon]="faPhone" class="icon-Size" > </fa-icon>
                    <div class="d-flex flex-column justify-content-center ms-2">
                        <h3 class="fw-bold">Phone</h3>
                        <p>Mobile: +(84) 546-6789</p>
                        <p>Hotline: +(84) 456-6789</p>
                    </div>
                    
                </div>
                <div class="d-flex">
                    <fa-icon [icon]="faClock" class="icon-Size"></fa-icon>
                    <div class="d-flex flex-column justify-content-center ms-2">
                        <h3 class="fw-bold">Tempo de trabalho</h3>
                        <p>Monday-Friday: 9:00 - 22:00</p>
                        <p>Saturday-Sunday: 9:00 - 21:00</p>
                    </div>
                </div>
            </div>
            <div class="row w-100 d-lg-none">
                <div class="">
                    <h3 class="ps-4 fw-bold display-6 mb-5">Envie-nos uma mensagem</h3>
                </div>
             </div>
            <div class="col-12 col-lg-7 d-flex justify-content-center">
                <form class="p-0 w-75 w-lg-50">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="inputName" aria-describedby="inputName" [(ngModel)]="messageContact.name" name="name">
                      <label for="inputName">Nome</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="inputEmail" [(ngModel)]="messageContact.email" name="email">
                        <label for="inputEmail" class="form-label">Email</label>
                      </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="inputSubject" [(ngModel)]="messageContact.subject" name="subject">
                      <label for="inputSubject" class="form-label">Assunto</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="inputMessage" rows="3" style="height: 192px;" [(ngModel)]="messageContact.message" name="message"></textarea>
                        <label for="inputMessage" class="form-label">Mensagem</label>
                      </div>
                    <button type="submit" class="btn btn-send w-50 mt-2" (click)="sendMessage()">Enviar</button>
                  </form>
            </div>
        </div>
    </div>
    
    <div class="row w-100 py-0 px-2 m-0 d-flex justify-content-center" style="height: auto; min-height: 270px; background-color: var(--primary-color-300);">
        
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center justify-content-start py-2 px-1 m-0 ">
                    <img src="assets/contactPage/trophy.png" alt="" class="float-start"
                         style="width: 60px;">
                     <div class="ms-2">
                        <h4 class="fw-bold">Alta Qualidade</h4>
                        <p style="color: var(--gray-text-color);">Feito com materiais de primeira qualidade</p>
                     
                     </div>
                </div>
                 <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center justify-content-start py-2 px-1 m-0">
                    <img src="assets/contactPage/guarantee.png" alt="" class="float-start"
                        style="width: 60px;">
                    <div class="ms-2">
                        <h4 class="fw-bold">Proteção de Garantia</h4>
                        <p style="color: var(--gray-text-color);">Mais de 2 anos.</p>
                    
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center justify-content-sm-start py-2 px-1 m-0" >
                    <img src="assets/contactPage/shipping.png" alt="" class="float-start"
                        style="width: 60px;">
                    <div class="ms-2">
                        <h4 class="fw-bold">Frete Grátis</h4>
                        <p style="color: var(--gray-text-color);">Pedidos acima de R$:150</p>
                    
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center justify-content-start py-2 px-1 m-0">
                    <img src="assets/contactPage/customer-support.png" alt="" class="float-start"
                        style="width: 60px;">
                    <div class="ms-2">
                        <h4 class="fw-bold">Suporte 24/7</h4>
                        <p style="color: var(--gray-text-color);">Suporte Exclusivo</p>
                    
                    </div>
                </div>
    </div>

</div>