<div class="container-fluid m-0 p-0 ">

    <div class="row p-0 m-0">
        <div class="col-12 position-relative" style="height: 316px;">

            <img src="assets/contactPage/bannerContact.png" alt="bannerContact"
                class="w-100 h-100 position-absolute top-0 start-0" 
                style="object-fit: cover; z-index: 1;">
            
           <div class="d-flex flex-column position-relative 
           align-items-center justify-content-center "
                style="z-index: 2; height: 100%;">
                <img src="assets/favicon.png" alt="">
                <h1 class="text-center">Contato</h1>
                <p class="text-center"><b>Inicio</b> > Contato</p>
           </div>
        </div>
    </div>

    <div class="row w-100 p-0 m-0 my-5">
        <div class="col-12 d-flex flex-column text-center justify-content-center p-5">
            <h3>Entre em contato conosco</h3>
            <p class="text-muted text-break">Para obter mais informações sobre nossos produtos e serviços. 
                Sinta-se à vontade para nos enviar um e-mail.<br> Nossa equipe está sempre disponível para ajudá-lo. 
                Não hesite!</p>
        </div>
        <div class="row w-100 p-0 m-0">
            <div class="row w-100 d-lg-none">
                <div class="">
                    <h3 class="ps-4 fw-bold display-6 mb-5">Informções de contato</h3>
                </div>
             </div>
            <div class="col-6 col-lg-4 d-flex flex-column justify-content-center align-content-center mx-auto mx-lg-0 ps-lg-5 mb-5 mb-lg-0">
                <div class="d-flex">
                    <fa-icon [icon]="faMapLocation"></fa-icon>
                    <div class="d-flex flex-column justify-content-center ms-2">
                        <h3 class="">Endereço</h3>
                        <p class="">236 5th SE Avenue, New York NY10000,<br> United States</p>
                    </div>
                        
                </div>
                <div class="d-flex">
                    <fa-icon [icon]="faPhone"> </fa-icon>
                    <div class="d-flex flex-column justify-content-center ms-2">
                        <h3>Phone</h3>
                        <p>Mobile: +(84) 546-6789</p>
                        <p>Hotline: +(84) 456-6789</p>
                    </div>
                    
                </div>
                <div class="d-flex">
                    <fa-icon [icon]="faClock"></fa-icon>
                    <div class="d-flex flex-column justify-content-center ms-2">
                        <h3>Tempo de trabalho</h3>
                        <p>Monday-Friday: 9:00 - 22:00</p>
                        <p>Saturday-Sunday: 9:00 - 21:00</p>
                    </div>
                </div>
            </div>
            <div class="row w-100 d-lg-none">
                <div class="">
                    <h3 class="ps-4 fw-bold display-6 mb-5">Envie-nos uma mensagem</h3>
                </div>
             </div>
            <div class="col-12 col-lg-7 d-flex justify-content-center">
                <form class="p-0 w-50">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Nome</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Meu nome...">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@example.com">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Assunto</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Duvida sobre valores...">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Qual o valor?"></textarea>
                      </div>
                    <button type="submit" class="btn btn-primary w-50">Enviar</button>
                  </form>
            </div>
        </div>
    </div>
    
    <div class="row w-100 py-0 px-5 m-0 bg-warning bg-opacity-10" style="height: auto; min-height: 270px;">
        
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center justify-content-start py-0 px-1 m-0 ">
                    <img src="assets/contactPage/trophy.png" alt="" class="float-start"
                         style="width: 60px;">
                     <div class="ms-2">
                        <h4>Alta Qualidade</h4>
                        <p class="text-muted">Feito com materiais de primeira qualidade</p>
                     
                     </div>
                </div>
                 <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center justify-content-start py-0 px-1 m-0">
                    <img src="assets/contactPage/guarantee.png" alt="" class="float-start"
                        style="width: 60px;">
                    <div class="ms-2">
                        <h4>Proteção de Garantia</h4>
                        <p class="text-muted">Mais de 2 anos.</p>
                    
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center justify-content-sm-start py-0 px-1 m-0" >
                    <img src="assets/contactPage/shipping.png" alt="" class="float-start"
                        style="width: 60px;">
                    <div class="ms-2">
                        <h4>Frete Grátis</h4>
                        <p class="text-muted">Pedidos acima de R$:150</p>
                    
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center justify-content-start py-0 px-1 m-0">
                    <img src="assets/contactPage/customer-support.png" alt="" class="float-start"
                        style="width: 60px;">
                    <div class="ms-2">
                        <h4>Suporte 24/7</h4>
                        <p class="text-muted">Suporte Exclusivo</p>
                    
                    </div>
                </div>
    </div>

</div>