<div class="container-fluid p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col-12 position-relative" style="height: 316px;">

            <img src="assets/contactPage/bannerContact.png" alt="bannerContact"
                class="w-100 h-100 position-absolute top-0 start-0" 
                style="object-fit: cover; z-index: 1;">
            
           <div class="d-flex flex-column position-relative 
           align-items-center justify-content-center "
                style="z-index: 2; height: 100%;">
                <img src="assets/favicon.png" alt="">
                <h1 class="text-center">Produtos</h1>
                <p class="text-center"><b>Inicio</b> > Produtos</p>
           </div>
        </div>
    </div>
    <div class="row px-1 m-0 list-filter d-flex position-relative align-content-center justify-content-start" 
        style="z-index: 2;">
       
        <div class="col-12 col-sm-4 col-lg-3 px-1 py-1 py-sm-0">
            <select class="form-select form-select-sm w-100"  
                    aria-label="Small select example" 
                    style="height: 42px; width: auto"
                    [(ngModel)]="categorySelected"
                    (change)="onCategoryChange($event)">
                <option value="" selected>Todos os Produtos</option>
                <option *ngFor="let category of cartegories" [value]="category.name">
                    {{ category.name }}
                  </option>
            </select>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 px-1 py-1 py-sm-0"  >
            <select class="form-select form-select-sm w-100"
                    aria-label="Small select example" 
                    style="height: 42px; width: auto"
                    (change)="onOrderChange($event)">
                <option value="" selected>Escolha</option>
                <option value="A-Z">A-Z</option>
                <option value="Z-A">Z-A</option>
                <option value="MenorPreço">Menor Preço</option>
                <option value="MaiorPreço">Maior Preço</option>
            </select>
        </div>
        
    </div>

    <div class="row p-0 m-0" style="height: auto;">
        <div class="col-12 p-0 mx-2 my-0">
            <div *ngIf="showResultDetails" class="d-flex my-3 align-items-center">
                <p class="fw-bold me-2 h5 p-0 m-0">Resultados para:</p>
                <p class="p-0 pt-1 m-0">{{textResultDetails}}</p>
            </div>
            <div class="row px-0 py-4 m-0">
                <div class="row w-100 p-0 m-0 d-flex justify-content-center mt-3">
                    <app-card-product class="col-11 col-sm-6 col-md-4 col-lg-3 px-2 mx-0 my-2 
                        position-relative" *ngFor="let product of productList"
                        [product]="product"
                        [showSoldOut]="product.showSoldOut">
                    </app-card-product>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-0 py-1 mx-0 mt-5">
        <div class="col-12 p-0 m-0 d-flex justify-content-center align-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="changePage(currentPage - 1)">Anterior</a>
              </li>
      
              <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
                <a class="page-link" (click)="changePage(i + 1)" [class.active]="currentPage === i + 1">{{ i + 1 }}</a>
              </li>
      
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="changePage(currentPage + 1)">Próximo</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
</div>