<div class="container-fluid p-0 m-0">
    <div class="row px-5 py-5 m-0">
        <div class="col-12 col-lg-4">
            <p class="display-5">Sobre a Funiro</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa iste recusandae nisi dignissimos tempore ex minus debitis illum quisquam nam. Porro saepe error quo nesciunt! Unde, nam? Maiores, eos laboriosam.
            Suscipit recusandae corporis ab optio totam eligendi exercitationem quis provident sapiente nostrum, alias repudiandae reprehenderit laboriosam minima magni ut aspernatur cupiditate pariatur aliquam. Nulla, molestiae enim? Reiciendis dolorum repellat odit.
            Laudantium quos cum dignissimos odit corrupti et fugiat a quidem quod doloremque. Pariatur nam placeat natus unde, debitis error repellendus officia perspiciatis architecto expedita, minima doloremque, ab officiis suscipit dolores.
            Provident necessitatibus quos ipsam hic earum aperiam error facilis dolores tenetur deleniti? In sed aliquid quasi? </p>
        </div>
        <div class="col-12 col-lg-8 d-flex justify-content-center position-relative">
            <img class="imgFrontLoja mt-5 w-100" src="assets/about/frontLoja.png" alt="Frente da Loja" style="object-fit: cover;">
        </div>
    </div>
    
</div>