<div class="container">
    <div class="row justify-content-center"style="height: 67vh;">
      <div class="col-md-4 my-auto px-3 ">
        <h2 class="text-center">Login</h2>
        <form (submit)="onLogin()" class="d-flex flex-column justify-content-center">
          <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-login w-75 mx-auto mt-3">Entrar</button>
        </form>
      </div>
    </div>
  </div>