<footer class="container-fluid">
  <!--Principal Footer-->
  <div class="row m-0 p-0 mt-3 mx-0 footer-content">
    <!--Endereço-->
    <div class="col-12 col-md-4 ps-5 mt-4">
      <h4 class="fw-bold">Funiro.</h4>
      <p style="color: var(--gray-color);">
        400 University Drive Suite 200 Coral Gables,  
        FL 33134 USA
      </p>
    </div>
    <!--Links-->
    <div class="col-12 col-md-8 m-0 ps-5 mt-4">
      <h5 style="color: var(--gray-color);">Links</h5>
      <ul class="list-unstyled">
        <li><a class="nav-link fw-bold links-footer" routerLink="/">Inicio</a></li>
        <li class="mt-2 fw-bold"><a class="nav-link links-footer" routerLink="/products">Produtos</a></li>
        <li class="mt-2 fw-bold"><a class="nav-link links-footer" routerLink="/about">Sobre</a></li>
        <li class="mt-2 fw-bold"><a class="nav-link links-footer" routerLink="/contact">Contato</a></li>
      </ul>
    </div>
  </div>
  <!-- Direitos -->
  <div class="row m-0 p-0 bg-body-tertiary">
    <div class="col-12">
      <div class="border-top border-dark border-opacity-25 mx-5"></div>
      <div class="col text-center my-2">
        <p>© 2021 Todos os direitos reservados</p>
      </div>
    </div>
  </div>
  
</footer>