<footer class="container-fluid">
  <!---->
  <div class="row m-0 p-0 mt-3 bg-body-tertiary">
    <!---->
    <div class="col-md-4 ps-5 mt-4">
      <h3>Funiro.</h3>
      <p>
        400 University Drive Suite 200 Coral Gables,  
        FL 33134 USA
      </p>
    </div>
    <!---->
    <div class="col-md-8 m-0 ps-5 mt-4">
      <h5>Links</h5>
      <ul class="list-unstyled">
        <li><a class="nav-link" routerLink="/">Inicio</a></li>
        <li class="mt-2"><a class="nav-link" routerLink="/products">Produtos</a></li>
        <li class="mt-2"><a class="nav-link" routerLink="/about">Sobre</a></li>
        <li class="mt-2"><a class="nav-link" routerLink="/contact">Contato</a></li>
      </ul>
    </div>
  </div>
  <!---->
  <div class="row m-0 p-0 bg-body-tertiary">
    <div class="col-12 ">
      <div class="border-top border-dark border-opacity-25 mx-5"></div>
      <div class="col text-center my-2">
        <p>© 2021 Todos os direitos reservados</p>
      </div>
    </div>
  </div>
  
</footer>