/*Carrossel de Imagens*/
.main-image-container {
    text-align: center;
  }
  
  .main-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .img-thumbnail {
    width: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  @media screen and (max-width: 768px) {
    .img-thumbnail {
      width: 20%;
    }
    
  }
  
  .img-thumbnail:hover {
    transform: scale(1.1);
  }
  
  .selected {
    border: 2px solid #007bff;
    opacity: 0.7;
  }

  /* Rating */
  .star {
    font-size: 24px;
    margin: 2px;
    color: gold;
    transition: color 0.2s;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .clickable:hover {
    color: orange;
  }

  /*Opção de cores*/
  .color-picker {
    text-align: center;
  }
  
  .color-options {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .color-options button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .color-options button:hover {
    transform: scale(1.1);
  }
  
  .color-options .selected {
    border: 3px solid rgb(163, 163, 163);
  }
  
  .color-box {
    display: inline-block;
    width: 50px;
    height: 20px;
    border: 1px solid #000;
    margin-left: 10px;
  }

  /* Seletor de Quantidade*/
  .btn-selector {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }