<div class="container-fluid m-0 p-0 ">
  <!--Descrição da Rota-->
    <div class="row p-0 m-0 bg-body-secondary" style="height: 72px;">
      <div class="col-12 px-2 py-0 m-0 text-start d-flex align-items-center justify-content-center
      ">
          <a routerLink="/"class="p-0 m-0 text-decoration-none text-black">Inicio</a>
          <p class="my-0 mx-1 p-0 text-decoration-none text-black">></p>
          <a routerLink="/products" class="p-0 m-0 text-decoration-none text-black">Produtos</a>
          <p class="my-0 mx-1 p-0 text-decoration-none text-black">></p>
          <p class="p-0 m-0 ms-1 fw-bold">{{product.name}} </p>
      </div>
    </div>

     <!--Main Page-->
    <div class="row p-0 mx-0 mt-3 mb-5" style="height: auto;">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-2 d-flex flex-row align-items-center
              col-12 flex-md-column justify-content-center my-2 my-md-0">
                <img *ngFor="let img of images"
                     [src]="img.imageUrl"
                     class="img-select rounded mb-2 ms-2"
                     [class.selected]="img.imageUrl === selectedImage"
                     (click)="changeImage(img.imageUrl)"
                     alt="Miniatura do Produto">
              </div>
          
              <div class="col-md-6">
                <div class="main-image-container">
                  <img [src]="selectedImage" class="main-image" alt="Imagem Principal">
                </div>
              </div>
          
              <div class="col-md-4 mt-5 mt-md-0 px-3">
                <h1>{{ product.name }}</h1>
                <h4 style="color: var(--gray-text-color);">{{ product.price | currency:'BRL' }}</h4>
                <div class="row d-flex align-items-center">
                    <div style="width: auto;">
                        <span *ngFor="let star of [1, 2, 3, 4, 5]" 
                        class="star" >
                        <ng-container [ngSwitch]="getStarType(star)">
                            <i *ngSwitchCase="'full'" class="bi bi-star-fill"></i>
                            <i *ngSwitchCase="'half'" class="bi bi-star-half"></i>
                            <i *ngSwitchCase="'empty'" class="bi bi-star"></i>
                        </ng-container>
                    </span>
                     </div>
                    <p class="my-0 mx-2 p-0 text-decoration-none text-black"style="width: auto;">|</p>
                   
                    <p class="m-0 p-0 ms-3" style="width: auto; color: var(--gray-text-color);">{{numberAvaliations}} Avaliações</p>  
                </div>
               
                <p >{{ product.description }}</p>
                <!-- Opção de Cores
                
                <div class="col-12 d-flex  m-0 p-0 ">
                  <div class="color-picker">
                    <p class="text-start">Cores:</p>
                    <div class="color-options">
                      <button 
                        *ngFor="let color of availableColors"
                        [style.background]="color"
                        [class.selected]="color === selectedColor"
                        (click)="selectColor(color)">
                      </button>
                    </div>
                   
                  </div>
                </div>
                -->
                
                <div class="row d-flex w-100 flex-column py-3 justify-content-center align-content-start ms-2">
                  <div class="col-12 d-flex flex-column justify-content-center">

                  <div class="d-flex gap-1 align-content-center justify-content-center p-0 mx-0 my-2" style="width: auto;">
                    <div class="content-quantity d-flex align-content-center justify-content-center p-1">
                      <button (click)="decreaseQuantity()" class="btn-selector">-</button>
                      <input type="number" [(ngModel)]="quantity" min="1" class="no-arrows border-0" [disabled]="canBuy === false">
                      <button (click)="increaseQuantity()" class="btn-selector">+</button>
                    </div>
                    
                    <p class="p-0 my-0 ms-2 me-0 align-content-center">{{stock.amount}} Disponivel</p>
                  </div>

                  <button *ngIf="onCart == false" (click)="addToCart(product)" class="btn btn-add-cart w-75 my-2 mx-auto px-1" [disabled]="canBuy === false" >
                    {{ canBuy ? 'Adicionar ao Carrinho' : 'Indisponível' }}
                  </button>
                  <button *ngIf="onCart == true" (click)="removeItem(product.id!)" class="btn btn-remove-cart w-75 my-2 mx-auto px-1">
                   Remover do Carrinho
                  </button>
                  <button *ngIf="canBuy" class="btn btn-go-cart w-75 my-2 mx-auto px-1" routerLink="/cart">
                    Ver ao Carrinho
                  </button>
                </div>
                </div>
                
              </div>

            </div>
          </div>
    </div>
    
     <!--Avaliações-->
    <div class="row p-0 m-0 ">
      <p class="text-center mt-4 mb-5 display-6 fw-bold">Avaliações [{{numberAvaliations}}]</p>
      <ul class="list-group d-flex justify-content-center align-items-center list-unstyled">
        <li *ngFor="let evidence of evidences" class="col-8 mb-4">
          <div class="border-top">
            <div class="d-flex justify-content-between">
              <p class="fw-bold text-start mt-2">{{evidence.username}}</p>
              <p class="text-start mt-2" >{{evidence.createdAt}}</p>
            </div>
            <p style="color: var(--gray-text-color);">{{evidence.description}}</p>
          </div>
        </li>
      </ul>
    </div>
</div>
