/*Carrossel de Imagens*/
.main-image-container {
    text-align: center;
  }
  
  .main-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .img-select {
    width: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  @media screen and (max-width: 768px) {
    .img-select {
      width: 20%;
    }
    
  }
  
  .img-select:hover {
    transform: scale(1.1);
  }
  
  .selected {
    border: 2px solid var(--primary-color);
    opacity: 0.7;
  }

  /* Rating */
  .star {
    font-size: 24px;
    margin: 2px;
    color: var( --star-color);
    transition: color 0.2s;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .clickable:hover {
    color: orange;
  }

  /*Opção de cores*/
  .color-picker {
    text-align: center;
  }
  
  .color-options {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .color-options button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .color-options button:hover {
    transform: scale(1.1);
  }
  
  .color-options .selected {
    border: 3px solid rgb(163, 163, 163);
  }
  
  .color-box {
    display: inline-block;
    width: 50px;
    height: 20px;
    border: 1px solid #000;
    margin-left: 10px;
  }

  /* Seletor de Quantidade*/
  .content-quantity{
    border: 1px solid #ccc;
    border-radius: 8px;
    width: auto;
    height: 42px;
  }
  .btn-selector {
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding: 4px;
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
  }
  
  input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .btn-add-cart{
    background-color: var(--primary-color);
    color: var(--primary-color-300);
  }
  .btn-go-cart{
    background-color: var(--primary-color-300);
    color: var(--primary-color);
  }
  .btn-remove-cart{
    background-color: var(--discount-color-300);
    color: var(--white-text-color);
  }

  @media (min-width: 992px) {
  .btn-add-cart {
    width: 50% !important;
  }
  .btn-go-cart {
    width: 50% !important;
  }
  .btn-remove-cart {
    width: 50% !important;
  }
}