<header class="container-fluid p-0 m-0" style="height: auto;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class = "logo-container ms-1" >
        <img routerLink="/" src="assets/logo.png" alt="Logo" >
      </div>
      <div class="d-flex align-items-end justify-content-end">
        <!-- Botão de abertura do navbar -->
          <div *ngIf="sizeCart >=1"  class="btn d-flex d-lg-none position-relative p-0 my-0 me-3 ms-0 " style="height: 42px; width: 42px;cursor: pointer;">
            <i class="bi bi-cart d-flex m-auto position-relative"
              routerLink="/cart" ></i>
  
              <p class="m-0 text-black rounded-circle m-1 d-flex justify-content-center" 
              style="height: 18px; width: 18px;">
                {{sizeCart}}
              </p>
          </div>
        <button id="navbar-toggler-open" class="navbar-toggler p-0" type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation" style="height: 42px; width: 42px;">
        <i class="navbar-toggler-icon" ></i>
        </button>
       
     
        <!-- Botão alternativo que será mostrado após o menu ser aberto -->
        <button id="navbar-toggler-close" class="navbar-toggler p-0" 
        type="button" aria-label="Close navigation" style="display: none; height: 42px; width: 42px;">
          <i class="bi bi-x"></i>
        </button>
        </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Sobre</a>
          </li>
          
        </ul>
        <div *ngIf="sizeCart >=1" class="d-none d-lg-flex position-relative p-0 my-0 me-3 ms-0" style="height: 42px; width: 42px; cursor: pointer;">
          
          <i  class="bi bi-cart d-flex m-auto position-relative"
            routerLink="/cart" ></i>

            <p class="m-0 text-black rounded-circle m-1 d-flex justify-content-center" 
            style="height: 18px; width: 18px;">
              {{sizeCart}}
            </p>

        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  </header>
