<header class="container-fluid p-0 m-0 d-inline">
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-0 px-lg-1 pb-0">
        <div class="container-fluid p-0">
          
            <div class = logo-container>
            <img src="assets/logo.png" alt="Logo">
            </div>
          

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="true" 
              aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="navbar-collapse collapse show bg-body-tertiary p-0 m-0" id="navbarSupportedContent">
            <ul class="navbar-nav text-end me-3 mb-1 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/products">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about">Sobre</a>
              </li>
              
            </ul>
            <div class="container-fluid p-0">
              <div class = "containet-form collapse show bg-body-tertiary p-1">
                <form class="form d-flex col-10 col-sm-6 col-md-8 col-lg-6 ms-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            </div>
            </div>
            
            
        </div>
      </nav>
    
  </header>
