<div class="card-container position-relative" >
    <img class="rounded w-100 img-fluid" [src]="category.imageUrl" alt="Quarto">
    <div class="position-absolute top-0 end-0 d-flex align-content-center bg-light px-2 mt-2 me-2
                rounded" >
        <p class="fw-bold m-0 p-1">{{category.name}}</p>
    </div>

    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 
      d-flex justify-content-center align-items-center overlay-buttons">
        <div class="text-center w-75">
            
            <button (click)="goProducts()" class="btn btn-primary my-2 w-100">Visualizar</button>
        </div>
  </div>

</div>