<div class="container-fluid m-0 p-0">
    <!--Banner Principal-->
    <div class="row p-0 m-0">
        <div class="col-12 d-flex position-relative align-items-center justify-content-end " style="height: 512px;">
            <img src="assets/home/bannerHome.png" alt="bannerContact"
            class=" w-100 h-100 position-absolute top-0 start-0" 
            style="object-fit: cover; z-index: 1;">

            <div class=" col-10 col-sm-6 col-lg-3 text-start bg-card bg-opacity-25 d-flex flex-column 
                position-relative py-3 px-2" style="z-index: 2; height: auto; ">
                <p class="text-notification">New Arrival</p>
                <p  class="fw-bold text-title h2">Discover Our New Collection</p>
                <p class="text-break text-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut elit tellus, luctus nec ullamcorper mattis.</p>
                
            </div>
        </div>
    </div>

    <!--Lista de Categorias-->
    <div class="row p-0 m-0">
        <div class="col-12 d-flex flex-column text-center justify-content-center pt-2 pb-5 px-5">
            <h2 class="text-title-category mt-4 ">Categorias</h2>
            <p class="text-subtitle-category">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="row w-100 p-0 m-0">
                <app-card-category class="col-10 col-sm-6 col-lg-4 px-2 mx-auto mt-2"
                *ngFor="let category of categories"
                [category]="category"
              ></app-card-category>
            </div>
        </div>
    </div>

    <!--Lista de Categorias-->
    <div class="row p-0 m-0">
        <div class="col-12 d-flex flex-column text-center justify-content-center pt-2 pb-5 px-5">
            <h2 class="text-title-sugestions">Indicações de Produtos</h2>
            <div class="row w-100 p-0 m-0 d-flex justify-content-center mt-3">
                <app-card-product class="col-11 col-sm-6 col-md-4 col-lg-3 px-2 mx-0 mt-2 
                    position-relative" *ngFor="let product of productList"
                    [product]="product"
                    [showSoldOut]="product.showSoldOut">
                </app-card-product>
            </div>
        </div>
    </div>

</div>
