
.overlay-buttons {
    display: none !important; 
}
  
 
.card-container:hover .overlay-buttons {
    display: flex !important; 
    opacity: 1 !important;
    transition: opacity 0.3s ease !important;
}
  
.bg-body-tertiary img {
    transition: opacity 0.3s ease !important; 
}
  
.card-container:hover img {
    opacity: 0.6 !important; 
}
.text-discount{
    color: var(--primary-color);
    background-color: var(--primary-color-300);
}
.btn-Buy{
    color: var(--primary-color-300);
    background-color: var(--primary-color);
}
.btn-Buy:hover{
    box-shadow: 1px 1px 10px var(--primary-color-200);
}
.btn-add-cart{
    color: var(--primary-color);
    background-color: var(--primary-color-300);
}
.btn-add-cart:hover{
    box-shadow: 1px 1px 10px var(--primary-color-300);
}
.text-desc-Product{
    color: var(--gray-text-color);
}