<div class="bg-body-tertiary text-start position-relative card-container">
  <img
    class="rounded w-100 img-fluid"
    [src]="product.imageUrl"
    alt="Quarto"
  />
 <div>
    <p
    class="text-center align-content-center rounded bg-danger 
    position-absolute top-0 p-1 ms-1 mt-2 me-4"
    style="width: auto; height: 32px"
    *ngIf="showSoldOut"
  >
    <Span class="text-white" >Esgotado</Span>
  </p>
  <p
    class="text-center align-content-center rounded-circle bg-warning 
    position-absolute top-0 end-0 p-1 mt-2 me-1"
    style="width: 48px; height: 48px"
    *ngIf="showDiscount"
  >
    <Span >-{{percent}}%</Span>
  </p>
 </div>
  <p class="fw-bold mt-2 mb-0">{{product.name}}</p>
  <p class="my-0"><span>{{product.description | slice:0:32}}</span></p>
  <div class="row p-0 m-0 d-flex flex-wrap">
    <p class="col-md-5 col-12 fw-bold my-2 p-0 text-start">
      <small>R$:{{priceEnd}}</small>
    </p>
    <p
      class="col-md-5 col-12 fw-bold my-2 mx-auto p-0 text-start text-md-end fw-light text-decoration-line-through"
      *ngIf="showDiscount"
      >
      <small>R$:{{price}}</small>
    </p>
  </div>
<!-- -->
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 
      d-flex justify-content-center align-items-center overlay-buttons">
  <div class="text-center w-75">
    <a routerLink="/products/{{ product.id }}" class="btn btn-primary my-2 w-100">Comprar</a>
    <button  class="btn btn-secondary my-2 w-100">Adicionar ao Carrinho</button>
  </div>
  </div>
</div>

