<div class="container-fluid p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col-12 col-lg-8 m-0 py-3 px-2">
            <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <div class="row p-0 m-0">
                <h4 class="fw-bold">Método de Pagamento</h4>
                <div class="p-2 m-0 col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  id="flexRadioDefault1" formControlName="typePayment" value="CartaoDeCredito" >
                        <label class="form-check-label" for="flexRadioDefault1">
                          Cartão de Crédito
                        </label>
                        
                      </div>
                      
                      <div class="form-check">
                        <input class="form-check-input" type="radio"  id="flexRadioDefault2" formControlName="typePayment" value="Pix" >
                        <label class="form-check-label" for="flexRadioDefault2">
                          Pix
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" id="flexRadioDefault3" formControlName="typePayment" value="Boleto">
                        <label class="form-check-label" for="flexRadioDefault3">
                          Boleto Bancário
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedPayment === 'CartaoDeCredito'" class="row p-0 mx-0 my-2">
                
                    <h5 class="fw-bold text-data-card">Dados do Cartão</h5>
                    <div class="p-0 w-75 w-lg-50">
                        
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" formControlName="nickName" id="nickName" placeholder="Apelido do Cartão">
                          <label for="nickName"class="form-label" >Apelido do Cartão</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="cardNumber" id="numberCreditCard" aria-describedby="numberCreditCard" placeholder="Número do Cartão" maxlength="16" pattern="\d{16}">
                            <label for="numberCreditCard" class="form-label">Número do Cartão</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="cardHolder" id="nameCreditCard" aria-describedby="numberCreditCard" placeholder="Nome Impresso no Cartão">
                            <label for="nameCreditCard" class="form-label">Nome Impresso no Cartão</label>
                        </div>
                        <div class="d-flex">
                            <div class="form-floating mb-3 col-5">
                                <input type="text" class="form-control" formControlName="cardExpiration" id="validity" aria-describedby="numberCreditCard" placeholder="Validade"  maxlength="4">
                                <label for="validity" class="form-label">Validade</label>
                            </div>
                            <div class="ms-2 form-floating mb-3 col-5">
                                <input type="text" class="form-control" formControlName="cardCVC" id="cvc" aria-describedby="numberCreditCard" placeholder="Código de Verificação"  maxlength="3">
                                <label for="cvc" class="form-label">Código de Verificação</label>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="form-floating mb-3 col-5">
                                <input type="text" class="form-control" formControlName="documentNumenber" id="numberCreditCard" aria-describedby="numberCreditCard" placeholder="CPF/CNPJ do Titular" maxlength="11">
                                <label for="numberCreditCard" class="form-label">CPF/CNPJ do Titular</label>
                            </div>
                            <div class="ms-2 form-floating mb-3 col-5">
                                <input type="date" class="form-control" id="numberCreditCard" aria-describedby="numberCreditCard" placeholder="Data de Nascimento">
                                <label for="numberCreditCard" class="form-label">Data de Nascimento</label>
                            </div>
                        </div>
                        
                      </div>
                
            </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 m-0 py-3 px-2">
            <div class="row py-3 px-1 m-0 d-flex card-resume">
                <h4 class="fw-bold mt-3">Detalhe da Compra</h4>
                <div class="mt-3 d-flex flex-column justify-content-between">
                    <ul class="py-0 px-2 m-0">
                        <li *ngFor="let item of cartList" class="text-decoration-none list-unstyled">
                            <div class="d-flex w-100 justify-content-between align-content-center
                            mt-2">
                                <div>
                                    <p class="p-0 m-0">{{item.product.name}} </p>
                                    <small class="ms-2"><b>Quantidade: </b>{{item.quantity}}</small>
                                </div>
                                <p class="m-0 p-0 align-content-center">{{(item.quantity*item.finalPrice)| currency:'BRL'}}</p>
                                
                            </div>
                            <div class="section-divider-item"></div>
                        </li>
                    </ul>
                    <div class="w-100 mt-3">
                        <div class="d-flex justify-content-between ">
                            <p class="fw-bold">Sub-Total:</p>
                            <p class="text-subTotal">{{finalPrice}}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="fw-bold">Total:</p>
                            <p class="text-Total fw-bold" >{{finalPrice}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="section-divider"></div>
                    <div class="p-1">
                        <h4 class="fw-bold mt-2 ms-1 px-1">Endereço</h4>
                        <p class="m-0 ms-2 p-0">{{address}}</p>
                        <p class="m-0 ms-2 p-0">Cep: {{postalCode}}</p>
                     </div>
             </div>
             
             <div class="row py-3 px-1 mb-0 mt-3 mx-0 d-flex justify-content-center">
                 <a class="btn btn-finish-payment my-1 mx-0 w-75" (click)="onSubmit()">Finalizar Pedido</a>
              </div>
        </div>
    </div>
</div>