* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%; /* Garante que o body tenha 100% da altura da janela */
    margin: 0; /* Remove margens padrões */
  }
  
  .d-flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .min-vh-100 {
    min-height: 100vh;
  }
  
  .flex-grow-1 {
    flex: 1; 
  }
  
  .no-arrows {
    -moz-appearance: textfield;
  }
  .no-arrows::-webkit-inner-spin-button,
  .no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }